/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px; 
	font: inherit;
	vertical-align: baseline;
} 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
	font-size: 100%;
}

/* Your code starts here! */

body {
	
	padding: 100px;
}
header nav {
	/* box-sizing: border-box; */
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	color: grey;
	width: 70%;
	/* border: 1px solid red; */
}

nav a {
	text-decoration: none;
	color: grey;
	
}
.top-content {
	display: flex;
	/* font-display: inline-block;
	font-size: 100%;
	padding: 30px; */
}

.bottom-content {
	display: flex;
	/* font-display: inline-block;
	font-size: 100%;
	padding: 30px; */
	
}
.pics {
	display: flex;
	flex-direction: row;
	padding: 10px;
	border-bottom: solid black 1px;
	/* border: solid 1px red; */

}
.inovation {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 400%;
}

p {
	display: block;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 50px;
	margin-right: 20px;
	margin-left: 20px;
	/* border: solid red; */
	/* font-weight: bold; */
}

.contact {
	align-content: center;
}

.tc-text {
	/* display: flex; */ 
	/* justify-content: center; */
	align-items: center;

	/* flex-direction: row; */
}

.bc-content {
	/* display: flex; */
	/* justify-content: center; */
	align-items: center;
	/* flex-direction: row; */
}

header {
	display: flex;
	flex-direction: row;
	padding: 10px;
	/* border-bottom:solid gray 1px;
	border-bottom-color: gray;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius:  */
}

.bc-text-serv {
	align-content: center;
}

.bc-text-prod {
	align-content: center;
}
.bc-text-vis {
	align-content: center;
}
.top-sec {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	/* border: solid red 1px; */
}

.middle-img {
	display: flex;
	margin-left: 20px;
	margin-right: 20px; 
	margin-top: 20px;
	margin-bottom: 10px;
	width: 80%;

}

h4 {
	font-size: 20px;
	margin-top: 20px;
	/* margin-bottom: 50px; */
	margin-right: 20px;
	margin-left: 20px;
}

.bottom-content {
	border-bottom:solid gray 1px;
	border-bottom-color: gray;
	border-bottom-left-radius: 0px;
	/* border-bottom-right-radius:  */
}

footer {

	text-align: center;
}

h6 {
	font-size: 14px;
	margin-top: 20px;
	/* margin-bottom: 50px; */
	margin-right: 20px;
	margin-left: 20px;
}